
.container {
    background-color: #BBB;
    height: 100%;
    padding: 10px;
}

.container select {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contexts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
}