.carouselContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.guideStep {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 0;
  margin-bottom: 1rem;
}

.guideHeader {
  font-size: 1.5rem;
  font-weight: 600;
}

.guideDescription {
  font-size: 1rem;
  font-weight: 400;
}

.list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.itemNumber {
  margin-right: 10px;
  font-weight: bold;
  margin-left: 6px;
}

.addItem {
  margin-left: 10px;
  background-color: #4caf50;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.addItem:hover {
  background-color: #3e8e41;
}

.causeInput {
  padding: 5px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.causeInput[contenteditable]:empty::before {
  content: 'Write your root cause here...';
  color: gray;
}

.strategyInput {
  padding: 5px;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.strategyInput[contenteditable]:empty::before {
  content: 'Write your strategy here...';
  color: gray;
}

.scaffoldingHeader {
  margin-left: 6px;
  margin-top: 6px;
}

.textInput {
  margin: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
  height: auto;
  min-height: 150px;
  max-height: 250px;
  overflow-y: scroll;
  resize: vertical;
}
