
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    text-align: center;
}

.header > * {
    padding: 20px;
}

.rootcause {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    background-color: lightblue;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.rootcause textarea {
    width: 100%;
    height: 100px;
}

.rootcause > * {
    padding: 20px;
}