.container {
  display: flex;
  height: 100vh; /* Fill the screen vertically */
}

.column70,
.column30 {
  overflow-y: auto; /* Allow vertical scrolling */
}

.column70 {
  width: 65%;
  background-color: #d1d5db;
}

.column30 {
  width: 35%;
  background-color: white;
  padding: 10px;
}

.contextContainer {
  max-height: 400px;
  overflow: auto; 
}

.container2 {
  margin: 0 8px 8px 8px;
}

.sideBySide {
  display: flex;
  margin: 0;
}